---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Downerd — Powerful, cross-platform, cloud-oreinted free download manager',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Download',
        href: '#features',
        //target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Download</span>  directly<br>
               To the <span class="text-accent dark:text-white highlight"> Cloud</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Downerd</span> is a powerful, cross-platform, cloud-oreinted free download manager.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Downerd: free download manager.</span><br>
       Comming soon...
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Downerd"
    subtitle="To become a better download manager"
    items={[
      {
        title: 'Cross-platform support',
        description:
          'Downerd supports Windows, Linux, MacOS (including X86 and Arm), and you can synchronize your configuration between these platforms after logging in.',
        icon: 'tabler:components',
      },
      {
        title: 'Upload to cloud',
        description:
          'You can easily upload your multimedia resources to S3, azblob, Google Drive and other platforms',
        icon: 'tabler:list-check',
      },
      {
        title: 'Multi-task support',
        description:
          'You can execute multiple download tasks simultaneously and support breakpoint resumption',
        icon: 'tabler:rocket',
      },
      {
        title: 'Multi-thread download',
        description:
          "With the help of multi-string download technology, you can make full use of the network bandwidth, greatly speed up your download tasks.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Build by Rust',
        description:
          'Rust is a modern, memory-safe language. With its assistance, we can create software that is more secure, stable, and performs better.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Resource sniffing',
        description:
          'Search for resources on YouTube, bilibili, vimeo and other platforms to automatically find effective resources.',
        icon: 'tabler:bulb',
      },
    ]}
  />


  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Downerd?',
        description:
          "Powerful features that other managers don't have",
      },
      
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '0 K' },
      { title: 'MRR', amount: '0 K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Download',
        href: 'https://downerd.com',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Downerd&nbsp;:&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">coming soon</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
